extends ../layouts/default

block main
  h1= title

block content
  - if (apartments.length)
    - each apartment in apartments
      .article
        h3
          a(href='/articles/'+article._id, title=article.title) #{apartment.title}
        p= apartment.body

        .meta.muted
          span= formatDate(article.createdAt)
          &nbsp; - &nbsp;
          - if (apartment.user)
            span Author &nbsp;

            - var name = apartment.user.name ? apartment.user.name : apartment.user.username

            a(href="/users/"+article.user._id)= name
          &nbsp; - &nbsp;
          - if (apartment.tags)
            - each tag in apartment.tags.split(',')
              &nbsp;
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted No articles.&nbsp;
      a(href="/apartment/new") create one
